.globalHeader {
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 2;
    height: 40px;
}

.logo {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.tweet-btn {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.home {
    height: calc(100vh - 40px);
    background-color: white;
    position: relative;
}

.tweet {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid whitesmoke;
    display: flex;
    gap: 10px;
}

.profile-img {
    background-color: grey;
    width: 40px;
    height: 40px;
    border-radius: 100px;
}

.profile-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.tweet-info {
    width: 100%;
}

.name {
    font-weight: 700;
    font-size: 0.8rem;
}

.tweets-empty {
    margin-top: 20px;
    font-weight: 700;
    font-size: 2rem;
    color: silver;
    text-align: center;
}
